html, body, div, span, abbr, strong, fieldset, table, tbody, tfoot, thead, sup, sub, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, b, u, i, q, em, img, pre, code, form, fieldset, label, button, legend, input, textarea, option, p, a, blockquote, th, tr, td, object, iframe {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
body {
  font: 11px/14px Arial,Verdana,sans-serif;
  color: #1a1a1a;
}
#page-title{
  margin-bottom: 10px;
}
#site-name a{
  background-image: url('../images/vs-logo.gif');
  display: block;
  float: left;
  width: 256px;
  height: 21px;
  text-indent: -9999px;
  float: left;
  margin: 20px 40px 0 0;
  padding-top: 0;
}

#header {
  width: 995px;
  margin: 0 auto;
  background-image: none;
  background: #fff;
  color: #dedede;
  font-size: 11px;
  
}
#header-inner {
  margin: 0 14px 0 11px;
  height: 60px;
}
#header .search {
  float: left;
  margin: 18px 20px 0 0;
  width: auto;
}
#content .section {
  padding: 20px 25px;
  
}
.main-page-slider #main {
  width: auto;
  margin: 0 auto;
}
.main-page-slider .section {
  margin: 0;
  padding: 0!important;
}
.main-page-slider .views-nivo-slider-view {
  padding: 0px;
}
.main-page-slider #views-nivo-slider-main_slider-block {
  margin: 0;
}
.main-page-slider .nivo-controlNav {
  position: relative;
  top: -25px;
  height: 0px;
  text-align: center;
}
.panels-flexible-region-first.panels-flexible-region-last {
  width: 959px;
  margin: 0 auto;
  float: none;
}
form.single-field {
  background: url(../images/search-input.gif) no-repeat;
  width: 185px;
  height: 26px;
  padding: 4px 0 0 0;
}
#atomz_query {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  font-weight: normal;
  color: #7f7f7f;
  float: left;
  outline-style: none;
  line-height: 1.3;
  width: 150px;
}
form.single-field input.text {
  background: transparent;
  padding: 2px 0 0 5px;
  margin: 0 0 0 4px;
}
input, textarea {
  font-size: 0.929em;
}
input, textarea, select, a.button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
form.single-field button {
  background: url(../images/search-btn.gif) no-repeat;
  border: 0;
  cursor: pointer;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  padding: 0;
  right: 4px;
  float: right;
  margin-right: 4px;
}

#header .utilities {
  float: left;
  margin: 24px 0 0 0;
  list-style-type: none;
}
#header .utilities li {
  padding: 0 5px 0 6px;
  float: left;
}
#header .utilities li.first {
  background: none;
  padding-left: 0;
}
#header a, #header a:link, #header a:visited {
  color: #f35c93;
}
#header .shopping-bag {
  float: right;
  margin-top: 24px;
  background: url(../images/bag.gif) no-repeat;
}
#header .shopping-bag a {
  
  padding: 1px 0 0 20px;
}
#nav {
  background: url(../images/nav-bg.png) repeat-x;
  font-size: 15px;
  height: 40px;
  min-width: 995px;
}
#main-menu ul {
  padding-left: 0px;
}
#main {
  width: 995px;
  overflow: hidden;
  zoom: 1;
}
.container {
  width: 995px;
  margin: 0 auto;
}
#navInner {
  margin: 0 5px 0 5px;
}
#nav ul li {
  float: left;
  height: 40px;
  position: relative;
  margin: 0;
}
#nav a, #nav a:link, #nav a:visited {
  color: #fff;
  display: block;
  float: left;
  height: 26px;
  padding: 14px 9px 0 9px;
  background: transparent;
  line-height: 0.8;
}
#main-menu-links li a.active {
  background: transparent;
}
#main {
  margin-top: 0;
}
#nav ul li.active, #nav ul li.active-trail {
  background: url(../images/nav-select.png) repeat-x;
}
#nav ul li:hover {
  background: url(../images/nav-select.png) repeat-x;
}
.pane-vs-menu-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.vs-top-level h3 {
  font-weight: bold;
  margin-top: 30px;
}
ul.vs-sub-level li {
  margin: 2px 0 0 0;
}
a, a:link, a:visited {
  color: #1a1a1a;
  text-decoration: none;
}
#main-wrapper, #vs-content-wrapper {
  background-image: url(../images/small-bg.gif);
  background-position: 50% 0%;
}
.category-header {
  margin: 40px 0 40px 0;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: -.025em;
  line-height: 20px;
  min-height: 21px;
}
.content{
  margin-top: 0;
}
.tabs{
  margin-bottom: 0;
}
.vs-sidebar-menu li.vs-selected-item a {
  color: #F35C93;
  font-weight: bold;
}

.vs-sidebar-menu li.vs-selected-item a:hover {
  color: #F35C93;
  font-weight: bold;
}
.vs-sidebar-menu h3.vs-selected-item a {
  color: #F35C93;
  font-weight: bold;
}

.vs-sidebar-menu h3.vs-selected-item a:hover {
  color: #F35C93;
  font-weight: bold;
}
a:hover, a:focus {
  text-decoration: underline;
}
.vs-category-content-wrapper {
  padding: 20px;
  
}
.vs-category-content-background {
  padding: 20px;
  background-color: white;
  width: 764px;
}
.panels-flexible-region-1-center {
  width: auto;
}
.vs-category-content td {
  padding: 0 10px 40px 0;
  border: none;
}
.vs-category-content td:not(.col-last) {
  width: 185px;
}
.vs-category-content td.col-last {
  padding-right: 0;
}
.vs-category-content td .vs-category-product-image{
  margin-bottom: 10px;
}
.vs-category-product-new-price, .vs-category-product-old-price {
  display: inline-block;
}
.vs-category-product-new-price {
  color: #f35c93;
}
.vs-category-product-old-price {
  text-decoration: line-through;
}
.vs-category-main-image {
  margin-bottom: 20px;
}
.vs-category-product-link .vs-category-product-image.hover {
  overflow: hidden;
  border: 5px solid #f35c93;
  width: 175px;
  height: 237px;
}
.vs-category-product-link .hover img {
  margin-top: -5px;
  margin-left: -5px;
}
.vs-category-product-link .hover.vs-title-text {
  margin-top: 13px; 
}
a.vs-category-product-link:hover {
  text-decoration: none;
}
.vs-product-display-column-1, .vs-product-display-column-2 {
  vertical-align: top;
  display: inline-block;
}
.vs-product-display-column-2 {
  margin: 0 0 0 35px;
  width: 296px;
}
.vs-product-display-title {
  font-size: 27px;
  letter-spacing: -.025em;
  line-height: 26px;
  min-height: 27px;
  margin-bottom: 10px;
}
.vs-product-display-wrapper {
  padding: 20px 0px;
}
.vs-product-display-background {
  padding: 20px;
  background-color: white;
  width: 764px;
}
.vs-product-display-view {
  margin: 0 20px;
}
.panels-flexible-region-category_page_layout-center {
  width: auto;
}
.vs-product-display-description {
  margin-bottom: 10px;
}
.vs-product-display-price {
  font-weight: bold;
}
.vs-product-display-sku {
  color: gray;
  margin-bottom: 20px;
}
.vs-product-display-sizefit {
  color: gray!important;
  padding-left: 17px;
  margin-bottom: 10px;
  background: url(../images/size-chart.gif) no-repeat;
  background-position: left 1px;
  text-decoration: none;
  display: inline-block;
}
.vs-product-display-sizefit a{
  color: gray!important;
}
.ui-selectmenu-menu p {
  border-left-width: 0!important;
  border-right-width: 0!important;
  border: none;
  font-weight: normal!important;
  margin: 0;
  position: static;
  padding: 0;
  background: #FFF;
  line-height: 14px;
}
.ui-selectmenu-menu p, .drop-sel .ui-selectmenu-menu p {
  display: block;
  line-height: 16px;
  border-left-width: 0!important;
  border-right-width: 0!important;
  border: 0;
  font-weight: normal!important;
  margin: 0;
  position: static;
  padding: 0;
  background: #fff;
  float: none;
}
.ui-selectmenu-menu p {
  float: left;
  margin: 0 1px 1px 0;
}
.ui-selectmenu-menu p a {
  float: left;
  cursor: pointer;
  border: 1px solid #CCC;
  display: inline-block;
  height: auto;
  line-height: 14px;
  min-width: 14px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.ui-selectmenu-menu p:hover a, .ui-selectmenu-menu p a.selected {
  border: 2px solid #f25c93;
  color: #1a1a1a;
  padding: 4px;
}
.ui-selectmenu-menu .vs-product-display-options-title {
  padding-bottom: 5px;
}
.vs-product-display-attribute {
  margin-bottom: 40px;
}
input.form-submit, a.button {
  
}
.vs-product-display-add-to-bag .add-to-bag-button{
  cursor: pointer;
  padding-top: 12px;
  overflow: hidden;
  padding-left: 35px;
  margin-top: 10px;
  display: block;
  height: 28px;
  width: 165px;
  color: #FFF;
  background-image: url('../images/pink-40px.gif');
  border: none;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: -.025em;
}
.vs-add-to-cart-confirmation-wrapper .column-1 {
  width: 537px;
  position: relative;
  height: 500px;
  float: left;
}
.vs-add-to-cart-confirmation-wrapper .vs-close-popup {
  position: absolute;
  background: url(../images/close.gif) no-repeat 0 0 transparent;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  right: 20px;
  top: 20px;
}
.titlebar-on {
  padding: 22px 0 20px;
  border-bottom: 1px solid #E5E5E5;
}
.titlebar-content {
  padding-left: 20px;
  padding-right: 65px;
}
.large {
  font-size: 21px;
  letter-spacing: -.025em;
  line-height: 20px;
  min-height: 21px;
}
.titlebar-content .title {
  text-transform: uppercase;
}
.vs-product-dispay-main-image{
  height: 573px;
}
.cloud-zoom-gallery.selected {
  display: inline-block;
  width: 59px;
  height: 80px;
  border: 2px solid #F25C93;
  overflow: hidden;
}
.cloud-zoom-gallery.selected .vs-thumb{
  display: block;
  width: 57px;
  height: 78px;
  border: 1px solid white;
  overflow: hidden;
}
.cloud-zoom-gallery.selected img{
  margin-top: -3px;
  margin-left: -3px;
}
.cloud-zoom-gallery.thumb-hover {
  display: inline-block;
  width: 59px;
  height: 80px;
  border: 2px solid #F25C93;
  overflow: hidden;
}
.cloud-zoom-gallery.thumb-hover .vs-thumb{
  display: block;
  width: 57px;
  height: 78px;
  border: 1px solid white;
  overflow: hidden;
}
.cloud-zoom-gallery.thumb-hover img{
  margin-top: -3px;
  margin-left: -3px;
}
.vs-product-zoom-text {
  height: 34px;
}
.vs-product-zoom-text p.zoom-text{
  float: right;
  margin: 10px 0;
  color: gray;
  padding-left: 17px;
  background: url(../images/zoom.png) no-repeat scroll 0 0 transparent;
}
.vs-product-zoom-text p {
  margin: 10px 0;
  float: left;
}
#header .shopping-bag em {
  color: #808080;
  font-style: normal;
}
.vs-cart-confirm-content {
  height: 252px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.vs-cart-confirm-img {
  display: inline;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}
.vs-cart-confirm-titles {
  width: 260px;
  float: left;
  position: relative;
}
.vs-cart-confirm-titles h3 {
  font-size: 14px;
  letter-spacing: -.025em;
  color: #1a1a1a;
}
.vs-cart-confirm-titles p.item-number {
  color: #808080;
  float: left;
  margin: 5px 0;
}
.vs-cart-confirm-titles .item-specs {
  clear: both;
}
.vs-cart-confirm-titles .item-specs p {
  position: relative;
  padding: 0 0 0 125px;
}
.vs-cart-confirm-titles .item-specs span {
  position: absolute;
  left: 0;
  width: 125px;
  color: #808080;
  display: inline-block;
}
.vs-cart-confirm-price {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  float: right;
  padding: 20px;
}
.vs-cart-confirm-price span {
  float: right;
  font-size: 14px;
  letter-spacing: -.025em;
}
.vs-cart-confirm-footer {
  bottom: 0;
  width: 100%;
  min-height: 79px;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  position: relative;
}
.vs-cart-confirm-footer-total {
  color: gray;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
}
.vs-cart-confirm-footer-total div {
  float: left;
  padding-top: 5px;
}
.vs-cart-confirm-footer-total div strong {
  color: #000;
}
.vs-cart-confirm-footer-total h1 {
  color: #f35c93;
  float: right;
  line-height: 1;
  font-size: 21px;
  letter-spacing: -.025em;
  min-height: 21px;
}
.vs-cart-confirm-footer-buttons {
  padding: 20px 0 20px 20px;
  height: 42px;
}
.vs-cart-confirm-footer-buttons .footer-bar-buttons {
  float: right;
  position: relative;
  margin-right: 20px;
}
.footer-bar-buttons .ui-button {
  margin-left: 10px;
  width: 183px;
  float: left;
  display: inline-block;
  height: 24px;
  padding: 14px 0 0 0;
}
a.btn-40-b, a.btn-40-b:link, a.btn-40-b:visited {
  height: 24px;
  padding: 14px 0 0 0;
  font-size: 14px;
  letter-spacing: -.025em;
}
.btn-40-b, a.btn-40-b:hover {
  background-image: url(../images/white-40px.gif);
  border: 1px solid #ccc;
  color: #878787;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background-repeat: repeat-x;
  text-align: center;
  white-space: nowrap;
}
button.btn-40, input.form-submit {
  padding: 2px 20px 0 20px!important;
  height: 40px!important;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 14px;
  letter-spacing: -.025em;
  cursor: pointer;
}
.btn-40, input.form-submit {
  background-image: url(../images/pink-40px.gif);
}
input.form-submit:hover {
  background-position: 0% 50%;
}
.tooltip-error-left {
  background: url(../images/tooltip-left.gif) no-repeat scroll right center;
}
.tooltip-error {
  line-height: 29px;
  height: 29px;
  position: absolute;
  z-index: 9999;
}
.tooltip-error p {
  background-position: 10px 9px;
  padding: 8px 10px 8px 27px;
}
.tooltip-error-left p {
  margin-left: 0;
  margin-right: 6px;
}
.tooltip-error p {
  background-color: #F35B94;
  background-image: url(../images/alert.gif);
  background-repeat: no-repeat;
  color: #FFF;
  display: inline;
}
#viewbag {
  background-color: white;
}
.panel-open .panel-title {
  padding: 20px 20px 15px 20px;
}
.bagitem {
  position: relative;
  background: url(../images/rule-dot-gray.gif) repeat-x 0 bottom transparent;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 117px;
}
.bagitem-image {
  margin-right: 20px;
  float: left;
  display: inline;
}
.bagitem .edit {
  position: relative;
  clear: both;
  margin-top: 5px;
}
.viewbag .bagitem-data {
  width: 300px;
  float: left;
  position: relative;
}
.bagitem-price {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  float: right;
}
a.ui-callout, a.ui-callout:visited {
  cursor: pointer;
  background: url(../images/arrow-gray.gif) no-repeat scroll left 5px transparent;
  color: #808080;
  padding-left: 9px;
  text-decoration: none;
}
.bagitem-data .item-name {
  width: 190px;
  margin-bottom: 5px;
}
.small {
  font-size: 14px;
  letter-spacing: -.025em;
}
.bagitem-data .item-number {
  color: #808080;
  float: left;
  margin-right: 5px;
  padding-right: 5px;
}
.bagitem-data .item-specs {
  margin-top: 5px;
  clear: both;
}
.bagitem-data .item-specs span {
  color: #808080;
  display: inline-block;
  width: 125px;
}
.bagitem-price .item-total span {
  float: right;
}
.bagtotal {
  padding: 20px 20px 20px 103px;
  height: 21px;
}
.bagtotal p {
  float: left;
  font-weight: bold;
  margin-top: 5px;
}
.bagtotal h1 {
  float: right;
  color: #f35c93;
}
.viewbag-items .views-row-last .bagitem {
  margin-bottom: 0;
  padding-bottom: 0;
  background-image: none;
}
.checkout-panel {
  border: 1px solid #E5E5E5;
  padding: 20px 20px 15px;
  margin-bottom: 10px;
  background-color: white;
}
#checkoutStatus {
  float: right;
  vertical-align: top;
}
#checkoutClosed h1 {
  float: left;
}
.panel-open {
  border: 1px solid #e5e5e5;
  background-color: white;
}
.panel-open .panel-title {
  padding: 20px 20px 15px 20px;
}
.panel-open .panel-title {
  border-bottom: 1px solid #E5E5E5;
}
.checkout-body {
  padding: 20px;
}
body .signin {
  display: inline-block;
  width: 198px;
  margin: 0 10px 0 0;
}
.ui-vr {
  background: url(../images/dotted-rule-vert.gif) repeat-y;
  width: 1px;
  display: inline-block;
  height: 200px;
  vertical-align: top;
}
.panel-open .checkout-body .checkout-option {
  display: inline-block;
  width: 185px;
  margin: 0 0 20px 20px;
  vertical-align: top;
}
.signin-body label {
  margin: 10px 0px 5px;
  font: 11px/14px Arial,Verdana,sans-serif;
}
.checkout .ui-alert {
  display: inline-block;
  background-color: #ffe5ee;
  border: 1px solid #edb5c9;
  color: #c93567;
  padding: 10px 9px;
}
.checkout input,#addresses input {
  background-color: #FFF;
  border: 1px solid #CCC;
  color: #1A1A1A;
  font-size: 11px;
  padding: 5px 7px;
}
.checkout input:focus,#addresses input:focus {
  border: 1px solid #b3b3b3;
  background-color: #f2f2f2;
}
.checkout input.error,#addresses input.error {
  background-color: #FFE5EE;
  border: 1px solid #EDB5C9;
  color: #C93567;
}
.signin-body input {
  width: 170px;
}
.ui-alert {
  margin-right: 13px;
  margin-top: 10px;
}
.ui-alert p, .highlevel-alert p, .ui-error-pmry p {
  background: url(../images/alert.png) no-repeat 0 1px transparent;
  padding: 0 17px;
}
.checkout-option h3 {
  margin-bottom: 24px;
}
.checkout button {
  width: 187px;
  margin-top: 10px;
}
.vs-ajax-submit-throbber {
  background-image: url(../images/18px-white.gif);
  width: 18px;
  height: 18px;
  float: right;
  z-index: 9999;
}
.vs-non-ajax-loader {
  background-image: url(../images/27px-gray.gif);
  position: absolute;
  height: 27px;
  width: 27px;
  top: 50%;
  left: 50%;
}
#addresses .panel-content {
  padding-left: 20px; 
}
#addresses input {
  width: 195px;
}
#addresses .thoroughfare,#addresses .premise{
  width: 417px;
}
.form-item label {
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 3px;
}
#addresses .panel-footer {
  padding: 20px;
  overflow: hidden;
  zoom: 1;
}
#addresses .panel-footer button{
  float: right;
}
.vs-complete-message-wrapper {
  padding: 20px;
  background-color: white;
  border: 1px solid #E5E5E5;
  border-top: none;
  overflow: hidden;
  zoom: 1;
  /*height: 200px;*/
}
.vs-order-complete-message-title {
  text-align: center;
  padding: 20px 20px 15px 20px;
  background-color: white;
  border: 1px solid #E5E5E5;
}
.checkout_completion_message p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.vs-complete-message-wrapper button {
  float: right;
  margin-top: 25px;
}
.section {
  background-color: white;
  margin-top: 20px;
}
.col-b {
  margin: 0 0 0 40px;
  width: 785px;
}
.col {
  display: inline;
  float: left;
  overflow: hidden;
}
.col-b .col-476 {
  margin: 0px 0 0 250px;
  width: 477px;
}
.lyt-even-split .col-b {
  width: 195px;
}
.lyt-even-split .col-a {
  margin: 0 40px 0 0;
}
.lyt-even-split .col-a {
  width: 198px;
}
.signin input {
  width: 175px;
}
.col-476 .lyt-even-split .col-a {
  width: 198px;
}
.signin .ui-vr {
  height: 270px;
}
.ui-vr {
  background: url(../images/dotted-rule-vert.gif) repeat-y;
  width: 1px;
  display: inline-block;
}
.signin h1, .vs-register h1 {
  margin: 40px 0;
}
.signin h3 {
  margin: 10px 0;
}
.signin input[type=submit],.vs-register input[type=submit] {
  color: white;
  border: none;
  font-size: 14px;
  margin-top: 10px; 
}
.vs-register .col-a {
  margin-left: 300px;
  width: 560px;
}
.vs-register input:not([type=submit]) {
  width: 250px;
}
.vs-register .ui-alert {
  margin-bottom: 10px;
}
#welcome {
  background: none!important;
  color: #808080;
  margin: 0 10px 0 0;
  padding: 0;
}
#header .utilities li {
  background: url(../images/pipe.gif) no-repeat;
  padding: 0 5px 0 6px;
  float: left;
}
#footer-wrapper {
  border-top: 1px solid #EFEFEF;
  /*margin: 40px 0 0 0!important;*/
  float: none!important;
  width: auto!important;
  background-color: #FFF;
}
#footer ul.footer-first-line a {
  color: black;
  font-size: 12px;
  vertical-align: top;
  padding: 0;
  padding-left: 12px;
}
#footer ul.footer-first-line li {
  float: right;
}
#footer ul.footer-first-line {
  float: right;
}
#footer ul.footer-second-line {
  color: #808080;
  float: right;
  margin-top: 10px;
}
#footer ul.footer-second-line li {
  font-size: 12px;
  display: inline-block;
  margin-left: 15px;
}
#footer {
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #EFEFEF;
}
.region-footer {
  margin: 0px!important;
}
#footer-wrapper {
  padding: 5px 5px 20px;
}
#footer-wrapper .section {
  margin: 0px;
}
#page-wrapper, #footer-wrapper {
  background: #FFF;
}
.count-result table {
  border: 2px solid #AAA;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}
.count-result th {
  border: 2px solid #AAA;
  padding: 10px;
}
.count-result td {
  border: 1px solid #AAA;
  empty-cells: show;
}
.account h1, .account h2 {
  margin: 40px 0 10px 0;
}
.vs-userzone-menu-wrapper .col {
  margin: 0 0 0 15px;
  width: 170px;
}
.vs-userzone-menu-wrapper .category-header a{
  font-size: 22px;
  line-height: 30px;
}
.vs-userzone-menu-wrapper .category-header a:hover{
  text-decoration: none;
}
.vs-userzone-menu-wrapper li {
  margin: 10px 0;
}
.vs-userzone-menu-wrapper a.ui-callout, a.ui-callout:visited {
  cursor: pointer;
  background: url(../images/arrow-gray.gif) no-repeat scroll left 5px transparent;
  color: #808080;
  padding-left: 9px;
  text-decoration: none;
}
.account .vs-register .col-a{
  margin-left: 125px;
}
.account .col-b {
  width: 600px;
  margin-left: 125px;
}
.account h1.large {
  height: 55px;
  font-size: 22px;
  text-transform: uppercase;
}
.account h3 {
  font-size: 16px;
  margin-bottom: 10px; 
}
.account .vs-account-item {
  font-size: 12px;
}
.account .vs-account-item span.label{
  
  line-height: 24px;
  color: #808080;
  width: 75px;
  display: inline-block;
}
.account .vs-account-item:last-of-type {
  margin-bottom: 10px;
}
.account .vs-account-item span.val {
  /*padding-left: 125px;*/
  /*color: black;*/
}
.footer-border {
  border-bottom: 1px solid #EEE;
  padding-top: 35px;
  margin: 0 90px;
}
.vs-podzakaz-page-wrapper p{
  font: normal 11px/1.5em Arial, sans-serif;
  color: #585858;
}
.vs-podzakaz-page-wrapper h2{
  font-size: 18px;
  line-height: 2.5em;
  color: black;
}
.vs-podzakaz-page-wrapper h3{
  line-height: 2.5em;
}
.vs-podzakaz-page-wrapper td,th {
  padding: 6px 0 3px 10px;
  border: 1px solid #e1e1e1;
}
.vs-podzakaz-page-wrapper {
  font: normal 11px/1.5em Arial, sans-serif;
  color: #585858;
}
.vs-podzakaz-page-wrapper a{
  font: normal 11px/1.5em Arial, sans-serif;
  color: #585858;
}
#field-city-add-more-wrapper .form-item {
  position: relative;
}
#autocomplete {
  z-index: 11000;
}
#main {
  /*overflow: visible;*/
}
.vs-scrollable-popup {
  width: 100%;
  height: 463px;
  overflow: auto;
}
.vs-order-delivery-popup-footer .ui-alert {
  display: inline-block;
  background-color: #ffe5ee;
  border: 1px solid #edb5c9;
  color: #c93567;
  float: left;
  width: 250px;
  margin-top: 0px;
  padding: 5px 9px;
}
.vs-delivery-order-form-content {
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.vs-order-delivery-popup-header .titlebar-content .title {
  text-transform: none;
}
.view-news-blocks-homepage ul {
  list-style: none;
}
.view-news-blocks-homepage ul li {
  float: left;
  margin: 0 14px 0 0;
  padding: 0;
  width: 310px;
}
.view-news-blocks-homepage ul li.views-row-last {
  margin-right: 0px;
}
.view-news-blocks-homepage ul li {
  margin-bottom: 25px;
}
a.vs-clickable-main-news {
  cursor: pointer!important;
  text-decoration: none;
}
.vs-payment-confirm-form-content {
  padding: 25px;
}
.vs-serch-page-form {
  margin: 0 auto;
  width: 380px;
  height: 70px;
}
.search-page-title {
  width: 380px;
  margin: 25px auto;
}
.vs-serch-page-form-submit, .vs-serch-page-form-input {
  float: left;
}
.vs-serch-page-form-submit {
  margin: 4px 15px;
}
.vs-serch-page-form-submit input {
  margin: 0!important;
}
.vs-serch-page-results {
  margin: 0 auto;
  width: 872px;
}
.vs-serch-page-results .vs-category-content td {
  padding: 0 44px 40px 0;
  border: none;
}
.vs-serch-page-results h2{
  font-size: 18px;
  line-height: 2.5em;
  color: black;
}
.vs-product-display-collection {
  font-weight: bold;
  margin: 10px 0 20px;
}
#nav ul li.last {
  float: right;
}
#jivo-label-copyright img{
  display: none;
}
td#jivo-label-status {
  background: url(../images/envelope_vr.png) no-repeat 50% 30%!important;
  /*height: 12px!important;*/
}
#nickname {
  display: inline-block;
  max-width: 90px;
  word-wrap: normal;
  overflow: hidden;
  vertical-align: top;
}
table.vs-orders-list{
  border-spacing: 0px;
  border-collapse: separate;
  margin-bottom: 35px;
}

table.vs-orders-list td, table.vs-orders-list th {
  /*background-color: white;*/
  font-size: 12px;
  color: #808080;
  border: 0px;
  border-bottom: 1px solid #EEE;
  padding: 17px 9px;
}
table.vs-orders-list td a {
  color: #808080;
}
table.vs-orders-list td a:hover {
  color: #808080;
  text-decoration: none;
}
table.vs-orders-list th {
  color: black;
  background-color: white;
  cursor: default;
}
table.vs-orders-list tr:hover {
  background-color: #EEE;
  cursor: pointer;
}
.vs-userzone-main-wrapper h2 {
  font-size: 18px;
}
.vs-userzone-main-wrapper .vs-order-view-adddress {
  font-size: 12px;
  padding-left: 15px;
}
.vs-userzone-main-wrapper .vs-order-view-adddress span{
  line-height: 21px;
  color: #808080;
}
.vs-order-view table {
  padding-left: 6px;
}
.vs-order-view table.vs-orders-list tr:hover {
  cursor: default;
}
.vs-order-view h1.large {
  height: 38px;
}
.vs-order-view p.vs-order-total {
  float: right;
  padding-right: 17px;
  font-size: 12px;
  color: #808080;
  margin-bottom: 40px;
}
.vs-faq-wrapper {
  padding: 20px 40px;
}
.vs-faq-wrapper #accordion h3{
  background: none;
  border: none;
}
.vs-faq-wrapper h3 {
  padding: 0px 30px;
  margin: 0 25px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
}
.vs-faq-wrapper h1 {
  padding-bottom: 25px;
}
.vs-faq-wrapper .ui-state-default .ui-icon {
  background-image: url("../images/faq-sprite.png");
}
.vs-faq-wrapper .ui-icon-triangle-1-e {
  background-position: -9px -3px;
}
.vs-faq-wrapper .ui-state-hover .ui-icon-triangle-1-e {
  background-position: -9px -21px;
}
.ui-state-active .ui-icon {
  background-image: url("../images/faq-sprite.png");
}
.ui-icon-triangle-1-s {
  background-position: -6px -41px;
}
.ui-accordion .ui-accordion-content {
  border: none;
  padding-left: 65px;
  overflow: hidden;
}